.index_viewMoreBtn__JTu_3:hover {
	z-index: 2;
	color: white!important;
}


/**
####################################    ----------------------------    SWIPER
*/
.swiper {
	height: 27rem;
}

.swiper img {
	height: 20rem;
}

@media (min-width: 1200px) {
	.main-image img {
		min-height: 500px;
		object-fit: cover;
	}
}