.index_viewMoreBtn__JTu_3:hover {
	z-index: 2;
	color: white!important;
}


/**
####################################    ----------------------------    SWIPER
*/
.swiper {
	height: 27rem;
}

.swiper img {
	height: 20rem;
}

@media (min-width: 1200px) {
	.main-image img {
		min-height: 500px;
		object-fit: cover;
	}
}


.product-action {
	border-radius: 50px;
	background-color: rgba(37, 42, 49, .4);
	color: white;
	width: 24px;
	height: 24px;
	box-shadow: var(--falcon-box-shadow);
	backdrop-filter: blur(5px);
}