@media (min-width: 1200px) {
	.navbar-brand {
		font-size: 1.2rem
	}
}

.echart-default-total-order {width: 7.625rem;height: 100%}


/** ____________________________________________________________________    DATATABLES **/

.paginate_button a {
	padding: .1875rem .75rem;
	font-size: 0.875rem;
	display: inline-block;
	font-weight: 500;
	line-height: 1.5;
	color: #5e6e82;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent !important;
	border-radius: .25rem;
	margin-right: .3rem;
	margin-left: .3rem;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.dataTables_info {
	font-size: .8333333333rem !important;
}

.table > :not(caption) > * > * {
	padding: .55rem .55rem;
}